* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text: #413e3e;
  --orange: #DE5022;
}

body,
label,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
